/* (ALL) BACKGROUND COLOR AND FONT */
body {
    font-family: 'Barlow', sans-serif;
    background-color: #5BC0BE;
}

/* (ALL) ROW MARGINS DONT EXCEED CARD  */
.row {
    margin: auto;
}

/* (ALL) RESIZE ICONS  */
.fa {
    font-size: 1.5rem;
    color: black;
}

/* (ALL) NAVBAR STYLING */
.topTab {
    border-bottom-left-radius: .50rem;
    border-bottom-right-radius: .5rem;
    border: 1px solid black;
    border-top: none;
}

/* (ALL) TABS BORDER */
.nav-tabs {
    border-bottom: 1px solid black;
}
.nav-tabs .nav-link.active {
    color: black;
    background-color: #fff;
    border-color: black black #fff;
}
.nav-tabs .nav-link {
    border: 1px solid black;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

/* (ALL) USE CARD FOR OUTSIDE BORDER */
.navCard {
    border: 1px solid black;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    /* SCROLL IN CARD  */
    overflow-y: scroll;
    /* height: 80vh; */
}

/* (1) LIGHT BG COLOR  */
.color1 {
    background-color: #FFDEAF;
    border-color: #FFDEAF;
    border-radius: .75rem;
}

/* (1 & 3) LIGHT BORDER  */
.color3 {
    border: 5px solid #FFDEAF;
    border-radius: 1rem;
}

/* (1 & 3) DARK BORDER  */
.color4 {
    border: 5px solid #B0413E;
    border-radius: 1rem;
}

/* (1) DARK BG COLOR */
.color5 {
    color: white;
    background-color: #B0413E;
    border-color: #B0413E;
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* (1) LIGHT BTN UNDERLINE */
.btn2 {
    text-decoration: underline;
}
.btn2:hover {
    background-color: #FFDEAF!important;
    border-color: #FFDEAF;
    border-radius: .5rem;
    text-decoration: none;
}

/* (2) DARK BG COLOR */
.color2 {
    color: white;
    background-color: #B0413E;
    border-color: #B0413E;
    border-radius: .5rem!important;
}

/* (2) LIGHT BTN OVERLINE */
.btn1 {
    text-decoration: overline;
}
.btn1:hover {
    background-color: #FFDEAF!important;
    border-color: #FFDEAF;
    border-radius: .5rem;
    text-decoration: none;
}

/* (2 & 3) REMOVE CARD BORDER */
.noBorder {
    border: none;
}

/* (3) LIGHT BTN AND RESIZE */
.btn3 {
    border: .5px solid #FFDEAF;
    background-color: #FFDEAF!important;
    border-radius: .5rem;
}
.btn3:hover {
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* (3) FORM STYLING */
.form-control {
    border-radius: .5rem;
}

/* (3) TITLE BACKGROUND */
.color6 {
    background-color: #FFDEAF;
    border-color: #FFDEAF;
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.email:hover {
    background-color: #FFDEAF;
}
.phone:hover {
    background-color: #FFDEAF;
}
.linkedin:hover {
    background-color: #FFDEAF;
}
.github:hover {
    background-color: #FFDEAF;
}

hr {
    border-top: 1px solid #B0413E;
}

textarea {
    resize: none;
}
/* .btn:focus {
    outline: none!important;
} */

/* .form-control:focus {
    outline: none!important;
} */
